*{
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: min(max(1rem, 14vw), 4rem);
    font-family: monospace;
}